WildTigerThaiUI/.vs/
WildTigerThaiUI/packages/
WildTigerThaiUI/obj/Debug/
WildTigerThaiUI/bin/
WildTigerThaiUI/WildTigerThaiUI/bin/
WildTigerThaiUI/WildTigerThaiUI/obj/Debug/build.force
WildTigerThai/.vs/
WildTigerThai/WildTigerThai.DATA.EF/obj/Debug/WildTigerThai.DATA.EF.csprojResolveAssemblyReference.cache
WildTigerThai/WildTigerThai.UI/obj/Debug/WildTigerThai.UI.csprojResolveAssemblyReference.cache
WildTigerThai/packages/
WildTigerThai/WildTigerThai.UI/obj/
