
@{
    ViewBag.Title = "Admin Dashboard";
}

<h2>Admin Dashboard</h2>

<ul>
    <li><a href="~/Products/Index">Products</a></li>
    <li><a href="~/PhotoTypes/Index">PhotoTypes</a></li>
    <li><a href="~/Photos/Index">Photos</a></li>
    <li><a href="~/ProductsToSections/Index">ProductsToSections</a></li>
    <li><a href="~/ProductsToSpecials/Index">ProductsToSpecials</a></li>
    <li><a href="~/ProductTypes/Index">ProductTypes</a></li>
    <li><a href="~/Sections/Index">Sections</a></li>
    <li><a href="~/Specials/Index">Specials</a></li>
</ul>