
@{
    ViewBag.Title = "Admin Dashboard";
}

<h2 class="center">Admin Dashboard</h2>

<div class="desktop">
    <div class="grid-container">
        <button class="grid-item btn-default btn-lg" onclick="location.href='/Products/Index'" ;>Products</button>
        <button class="grid-item btn-default btn-lg" onclick="location.href='/PhotoTypes/Index'" ;>PhotoTypes</button>
        <button class="grid-item btn-default btn-lg" onclick="location.href='/Photos/Index'" ;>Photos</button>
        <button class="grid-item btn-default btn-lg" onclick="location.href='/ProductsToSections/Index'" ;>ProductsToSections</button>
        <button class="grid-item btn-default btn-lg" onclick="location.href='/Menus/Index'" ;>Menus</button>
        <button class="grid-item btn-default btn-lg" onclick="location.href='/ProductsToSpecials/Index'" ;>ProductsToSpecials</button>
        <button class="grid-item btn-default btn-lg" onclick="location.href='/ProductTypes/Index'" ;>ProductTypes</button>
        <button class="grid-item btn-default btn-lg" onclick="location.href='/Sections/Index'" ;>Sections</button>
        <button class="grid-item btn-default btn-lg" onclick="location.href='/Specials/Index'" ;>Specials</button>
        <button class="grid-item btn-default btn-lg" onclick="location.href='/UsersAdmin/Index'" ;>UsersAdmin</button>
        <button class="grid-item btn-default btn-lg" onclick="location.href='/RolesAdmin/Index'" ;>RolesAdmin</button>
    </div>
</div>
<div class="mobile">
    <button class="grid-item btn-default btn-lg" onclick="location.href='/Products/Index'" ;>Products</button>
    <button class="grid-item btn-default btn-lg" onclick="location.href='/PhotoTypes/Index'" ;>PhotoTypes</button>
    <button class="grid-item btn-default btn-lg" onclick="location.href='/Photos/Index'" ;>Photos</button>
    <button class="grid-item btn-default btn-lg" onclick="location.href='/ProductsToSections/Index'" ;>ProductsToSections</button>
    <button class="grid-item btn-default btn-lg" onclick="location.href='/Menus/Index'" ;>Menus</button>
    <button class="grid-item btn-default btn-lg" onclick="location.href='/ProductsToSpecials/Index'" ;>ProductsToSpecials</button>
    <button class="grid-item btn-default btn-lg" onclick="location.href='/ProductTypes/Index'" ;>ProductTypes</button>
    <button class="grid-item btn-default btn-lg" onclick="location.href='/Sections/Index'" ;>Sections</button>
    <button class="grid-item btn-default btn-lg" onclick="location.href='/Specials/Index'" ;>Specials</button>
    <button class="grid-item btn-default btn-lg" onclick="location.href='/UsersAdmin/Index'" ;>UsersAdmin</button>
    <button class="grid-item btn-default btn-lg" onclick="location.href='/RolesAdmin/Index'" ;>RolesAdmin</button>
</div>