@{
    ViewBag.Title = "Home";
}
<div class="desktop">
    <div class="rightAlign hideMe marginTop">
        <p class="largeFont fixLeft">Our dishes are made from fresh ingredients</p>
        <div>
            <img class="frontPageImage" src="~/Source_Material/fresh-roll-sh.jpg" />
        </div>
    </div>
    <div class="leftAlign hideMe">
        <div>
            <img class="frontPageImage" src="~/Source_Material/5659755.jpg" />
        </div>
    </div>
    <div class="rightAlign hideMe">
        <div>
            <img class="frontPageImage" src="~/Source_Material/traditional-fried-rice-shrimp.jpg" />
        </div>
    </div>
</div>

<div class="mobile">
    <div class="rightAlign hideMe marginTop">
        <p class="largeFont fixLeft">Our dishes are made from fresh ingredients</p>
        <div>
            <img class="frontPageImage" src="~/Source_Material/fresh-roll-sh.jpg" />
        </div>
    </div>
    <div class="leftAlign hideMe">
        <div>
            <img class="frontPageImage" src="~/Source_Material/5659755.jpg" />
        </div>
    </div>
    <div class="rightAlign hideMe">
        <div>
            <img class="frontPageImage" src="~/Source_Material/traditional-fried-rice-shrimp.jpg" />
        </div>
    </div>
</div>