@{
    ViewBag.Title = "Home";
}
<div class="desktop">
    <div class="row">
        <div class="rightAlign hideMe">
            <div class="col-md-4 fixLeft">
                <p class="largeFont">Our dishes are made from the freshest ingredients</p>
            </div>
            <div class="col-lg-12">
                <img class="frontPageImage" src="~/Source_Material/fresh-roll-sh.jpg" />
            </div>
        </div>
    </div>    
    <div class="row">
        <div class="leftAlign hideMe">
            <div class="col-lg-12">
                <img class="frontPageImage" src="~/Source_Material/3817564.jpg" />
            </div>
            <div class="col-md-4 fixRight">
                <p class="largeFont">Best drinks served cold every happy hour!</p>
                <p class="largeFont"> Every day 3PM to 6PM</p>
            </div>
        </div>
    </div>    
    <div class="row">
        <div class="rightAlign hideMe">
            <div class="col-md-4 fixLeft">
                <p class="largeFont">Bringing new Thai flavored dishes to South East Vancouver,WA</p>
            </div>
            <div class="col-lg-12">
                <div>
                    <img class="frontPageImage" src="~/Source_Material/traditional-fried-rice-shrimp.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mobile">
    <div class="row">
        <div class="rightAlign hideMe">
            <div class="col-md-4 fixLeft">
                <p class="largeFont">Our dishes are made from the freshest ingredients</p>
            </div>
            <div class="col-lg-12 moveUp">
                <img class="frontPageImage" src="~/Source_Material/fresh-roll-sh.jpg" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="leftAlign hideMe">
            <div class="col-lg-12">
                <img class="frontPageImage" src="~/Source_Material/3817564.jpg" />
            </div>
            <div class="col-md-4 fixRight">
                <p class="largeFont">Best drinks served cold every happy hour!  Every day 3PM to 6PM</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="rightAlign hideMe">
            <div class="col-md-4 fixLeft">
                <p class="largeFont">Bringing new Thai flavored dishes to South East Vancouver,WA</p>
            </div>
            <div class="col-lg-12 moveUp">
                <div>
                    <img class="frontPageImage" src="~/Source_Material/traditional-fried-rice-shrimp.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>