<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wild Tiger Thai Restaurant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700' rel='stylesheet' type='text/css'>
    <!-- Css -->
    <link rel="stylesheet" href="~/Content/nivo-slider.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/owl.theme.css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet" type='text/css'>
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/responsive.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <!--Scripts-->
    <script src="~/Scripts/jquery.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.nivo.slider.js" type="text/javascript"></script>
    <script src="~/Scripts/owl.carousel.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.nicescroll.js"></script>
    <script src="~/Scripts/jquery.scrollUp.min.js"></script>
    <script src="~/Scripts/main.js" type="text/javascript"></script>

</head>
<body>

    <!-- LOGO Start
    ================================================== -->

    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a href="#" class="logo">
                        Wild Tiger Thai Restaurant and Bar
                    </a>
                </div>	<!-- End of /.col-md-12 -->
            </div>	<!-- End of /.row -->
        </div>	<!-- End of /.container -->
    </header> <!-- End of /Header -->
    <!-- MENU Start
    ================================================== -->
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div> <!-- End of /.navbar-header -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav nav-main">
                    <li class="active"><a href="#">HOME</a></li>
                    <li><a href="#">MENU</a></li>
                    <li><a href="blog.html">BAR</a></li>
                    <li><a href="blog-single.html">This should have changed</a></li>
                    @Html.Partial("_loginPartial")
                </ul> <!-- End of /.nav-main -->
            </div>	<!-- /.navbar-collapse -->
        </div>	<!-- /.container-fluid -->
    </nav>	<!-- End of /.nav -->
    <!-- SLIDER Start
    ================================================== -->
    @RenderBody()
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="block clearfix">
                        <a href="#" class="footer-logo">
                            Wild Tiger Thai Restaurant and Bar
                        </a>
                        <p>
                            We are bringing new Thai flavor dishes to the South East of Vancouver, WA.
                        </p>
                        <h4 class="connect-heading">CONNECT WITH US</h4>
                        <ul class="social-icon">
                            <li>
                                <a class="facebook-icon" href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a class="plus-icon" href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a class="twitter-icon" href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a class="pinterest-icon" href="#">
                                    <i class="fa fa-pinterest"></i>
                                </a>
                            </li>
                            <li>
                                <a class="linkedin-icon" href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>	<!-- End Of /.social-icon -->
                    </div>	<!-- End Of /.block -->
                </div> <!-- End Of /.Col-md-4 -->
                <div class="col-md-4">
                    <div class="block">
                        <h4>GET IN TOUCH</h4>
                        <p><i class="fa  fa-map-marker"></i> <span>Food Code d.o.o.,</span>1000 Ljubljana Celovska cesta 135, Slovenia</p>
                        <p> <i class="fa  fa-phone"></i> <span>Phone:</span> (+386) 40 123 456 </p>
                        <p> <i class="fa  fa-mobile"></i> <span>Mobile:</span> (+386) 40 654 123 651</p>

                        <p class="mail"><i class="fa  fa-envelope"></i>Email: <span>info@sitename.com</span></p>
                    </div>	<!-- End Of /.block -->
                </div> <!-- End Of Col-md-3 -->
                <div class="col-md-4">
                    <div class="block">
                        <h4>UPCOMING ITEMS</h4>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="~/Content/Images/product-item.jpg" alt="...">
                            </a>
                            <a class="pull-left" href="#">
                                <img class="media-object" src="~/Content/Images/product-item.jpg" alt="...">
                            </a>
                            <a class="pull-left" href="#">
                                <img class="media-object" src="~/Content/Images/product-item.jpg" alt="...">
                            </a>
                            <a class="pull-left" href="#">
                                <img class="media-object" src="~/Content/Images/product-item.jpg" alt="...">
                            </a>
                            <a class="pull-left" href="#">
                                <img class="media-object" src="~/Content/Images/product-item.jpg" alt="...">
                            </a>
                            <a class="pull-left" href="#">
                                <img class="media-object" src="~/Content/Images/product-item.jpg" alt="...">
                            </a>
                        </div>	<!-- End Of /.media -->
                    </div>	<!-- End Of /.block -->
                </div> <!-- End Of Col-md-3 -->
            </div> <!-- End Of /.row -->
        </div> <!-- End Of /.Container -->
        <!-- FOOTER-BOTTOM Start
        ================================================== -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="cash-out pull-left">
                            <li>
                                <a href="#">
                                    <img src="~/Content/Images/American-Express.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="~/Content/Images/PayPal.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="~/Content/Images/Maestro.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="~/Content/Images/Visa.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="~/Content/Images/Visa-Electron.png" alt="">
                                </a>
                            </li>
                        </ul>
                        <p class="copyright-text pull-right">Food Code @@2013 Designed by <a href="http://www.themexpert.com">Themexpert</a> All Rights Reserved</p>
                    </div>	<!-- End Of /.col-md-12 -->
                </div>	<!-- End Of /.row -->
            </div>	<!-- End Of /.container -->
        </div>	<!-- End Of /.footer-bottom -->
    </footer> <!-- End Of Footer -->

    <a id="back-top" href="#"></a>
    @RenderSection("scripts", false)
</body>
</html>