htmml, body {
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100%;
}
aside {
    display: block;
    z-index: 100;
    position: fixed;
    left: -0.9em;
    top: 19.4em;
    -webkit-user-select: none;
}

/*Scrollbar CSS*/
::-webkit-scrollbar {
    width:1em;
}
::-webkit-scrollbar-track {
    border-radius:2em;
    -webkit-box-shadow: inset 0 0 2em rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #e67700;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}




/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    max-height:100%;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
.logoHolder {
    margin-right: 30% !important;
    max-width: 30%;
    right: 5%;
    bottom: 25px;
}
.logo {
    height:250px;
    max-width:100%;
    object-fit:contain;
}
.mobileLogoHolder {
    max-width: 40%;
    right: 1em;
    top: 1em;
    margin-right: 0px !important;
    float:left;
    margin-top:1em;
}
.mobileLogo {
    padding-right:0px !important;
    max-width: 100%;
    margin:auto;
    top: 1em;
}
.largeHead{
    font-size:26px !important;
}
.margin4{
    margin-left: 4% !important;
}
.leftHalf {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-right: 0 !important;
}
.rightHalf {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.mobileNav {
    text-align: right;
    max-width: 5em;
    padding-left: 75%;
}
.mobileLink{
    color:white;
    font-size:18px;
}
.noPad {
    padding:0 !important;
}
.footer-logo{
    color: #90c322;
    font-size: 1.25em;
    font-weight: 200;
}

.dropdown-menu-center {
    right: auto !important;
    left: 50% !important;
    -webkit-transform: translate(-50%, 0) !important;
    -o-transform: translate(-50%, 0) !important;
    transform: translate(-50%, 0) !important;
}
.dropdown-menu{
    top:70%;
}
.dropdown:hover {
    background-color: none;
    color: black;
}
.dropdown {
    color: black;
    font-weight: bold;
}
.center {
    text-align: center;
}
.dropdown-menu-item {
    text-align: center;
}
.navbar {
    background: url(../Content/Images/Thai-Food.jpg) no-repeat bottom;
    background-size: cover;
}
.navdiv{
    margin-top:1%;
}
.movedownnav{
    vertical-align:bottom;
}
.navbar-container {
    padding-right:2%;
    padding-left:2%;
    margin-left:0;
    margin-right:0;
}
.navbar-nav > li {
    margin: 0;
}
.aside-menu {
    float:none !important;
    width:100%;

}
#movedown {
    margin-top: 20px;
}
.center {
    text-align: center;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 5em;
    grid-row-gap: 3em;
    padding-top: 4%;
    padding-bottom: 4%;
    max-width: 90% !important;
    margin: auto;
    max-height: 100% !important;
}
.grid-item {
    vertical-align: middle;
    text-align: center;
    height: 5em;
    width: 20em;
    margin:auto;
}
.mobile .grid-item{
    margin-bottom: 20px;
}
.custom-container {
    min-height: 100vh;
    overflow: auto;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 95%;
    padding-bottom: 15em;
    margin: auto;
}
.tableImage {
    width: 100px;
    height: 100px;
    object-fit: fill;
}

.footer-social {
    text-align:center;
    font-weight:bold;
    font-size:2em;
}

footer .block{
    color:white !important;
}

.footerImage {
    height: 9em;
    width: 16em;
    object-fit: contain;
}


.frontPageImage {
    height:auto;
    width:45%;
    object-fit: contain;
    border-radius:5px;
}


.custom-container h2{
    text-align: center;
}
.btn-warning {
    color:black;
}


.banner-image {
    object-fit: cover;
    height: 12em;
    width: 100%;
}

/* Icon 3 */

#nav-icon3 span:nth-child(1) {
    top: 0px;
}

#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
    top: 18px;
}

#nav-icon3 span:nth-child(4) {
    top: 36px;
}

#nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.full-border{
    width:100%;
    border: 1px solid black;
    height: auto;
    margin-bottom: 20px;
}

.mobile #tableImage{
    margin: 10px;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}
.hideMe {
    visibility:hidden;
}
.marginTop{
    margin-top: 10em;
}
.rightAlign {
    text-align: right;
    margin-bottom: 10em;
}
.leftAlign{
    text-align:left;
    margin-bottom: 10em;
}
.inline {
    display:inline;
}
.fromLeft {
    animation: 1s ease-in-out 0s 1 slideInFromLeft;
}

.fromRight {
    animation: 1s ease-in-out 0s 1 slideInFromRight;
}

.fadeIn {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}
.largeFont {
    font-size:3em;
    font-weight:bold;
}
.fixLeft {
    text-align: right;
    top:15em;
    left:15em;
}
.fixRight {
    float:right;
    text-align: left;
    bottom: 40em;
    right: 15em;
    clear: both;
}

.topBorder {
    border-radius: 5px 5px 0 0;
}
aside .closeBtn {
    background-color: #e67700;
    border-radius: 5px;
    font-size:1.5em;
    text-align: right;
    position: absolute;
    top: 5px;
    left: 20px;
    z-index: 101;
}
.fa{
    font-size:32px !important;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.full-border tbody tr td a i {
    font-size:44px;
}

.full-border tbody tr td {
    vertical-align: middle !important;
}

.mobile-button2 {
    float: right;
    width: 8em;
    clear: right;
    margin-bottom: 10px;
}

.mobile-button {
    width: 8em;
    float: left;
    margin-bottom: 10px;
}

.phototype-content{
    padding-left:20px;
}

.mobile-links{
    float:right;
    padding-right:20px;
}